@import 'components/base/reset';
@import 'components/base/base';
@import 'components/base/form';
@import 'components/base/fonts';
@import 'components/base/variables';
@import 'components/base/icons';
@import 'components/base/steps';
@import './components/_app.scss';
@import './components/_loader.scss';
@import 'components/base/buttons';
@import 'components/base/titles';
@import 'components/forms/birthdate';
@import 'components/forms/family';
@import 'components/forms/name';
@import 'components/forms/introduction';
@import 'components/_story';

/** TEMP ********/
#user {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    color: #fff;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    z-index: 10;
}


