@import "variables";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
    font-size: 14px;
    font-family: $book;
    color: #fff;
    height: 100vh;
    //background: url(../models/skybox/galaxy/galaxy_front.png) no-repeat center/cover #000;
    background-color: #000;
}

.byo-wrapper {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.byo-clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

