@import "variables";

.byo-button {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: $blue-light;
    padding-bottom: 20px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    transition: .2s color ease-in-out;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 120%;
        min-width: 60px;
        height: 1px;
        background-color: $blue-light;
        transition: .2s left ease-in-out;
    }
    &:hover {
        color: #fff;
        &:after {
            left: 20px;
        }
    }
    &-back {
        position: absolute;
        top: 0;
        left: 0;
        color: $grey;
        font-family: $light;
        cursor: pointer;
        transition: .2s color ease-in-out;
        &:hover {
            color: #fff;
        }
    }
}