@font-face {
    font-family: "gotham-bold";
    src: url('../fonts/gotham/gotham_bold.ttf')
}

@font-face {
    font-family: "gotham-book";
    src: url('../fonts/gotham/gotham_book.otf')
}

@font-face {
    font-family: "gotham-light";
    src: url('../fonts/gotham/gotham_light.otf')
}

@font-face {
    font-family: "gotham-thin";
    src: url('../fonts/gotham/gotham_thin.otf')
}