@import "variables";

.byo-form {
    position: relative;
    max-width: 100%;
    &-input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $grey;
        color: #fff;
        line-height: 1;
        outline: none;
        font-size: 12px;
        padding-bottom: 15px;
        padding-right:35px;
        width: 100%;
        transition: .2s border-color ease-in-out;
        &:focus {
            border-color: #fff;
        }
    }
    &-submit {
        position: absolute;
        top: -2px;
        right: 0;
        display: inline-block;
        font-size: 14px;
        color: $blue-light;
        text-transform: uppercase;
        cursor: pointer;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        transition: .2s color ease-in-out;
        &:hover {
            color: #fff;
        }
    }
}