@import "variables";

svg {
    -webkit-filter: drop-shadow(0 0 2px rgba(255, 255, 255, .7));
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, .7));
    * {
        stroke: #fff !important;
    }
}