// Fonts
$bold: 'gotham-bold', sans-serif;
$book: 'gotham-book', sans-serif;
$light: 'gotham-light', sans-serif;
$thin: 'gotham-thin', sans-serif;

// Colors
$blue-light: #d1fef8;
$grey: #7d8f99;
$white-light: #f7eee3;