<!--Introduction-->
<div class="byo-intro byo-step" data-step="0">
    <div class="byo-intro-slogan">Enchanté jeune Créateur, nous vous attendions…</div>
    <div class="byo-intro-desc">
        Vous vous apprêtez à vivre une expérience unique : participer à la création de votre représentation astrale.
    </div>
    <div class="byo-intro-start byo-button" data-target="1">Commencer l'expérience</div>
</div>

<div class="byo-intro-constellation byo-wrapper">
    @@include('../assets/img/astro/constellation/balance.svg')
    @@include('../assets/img/astro/constellation/belier.svg')
    @@include('../assets/img/astro/constellation/cancer.svg')
    @@include('../assets/img/astro/constellation/capricorne.svg')
    @@include('../assets/img/astro/constellation/gemeaux.svg')
    @@include('../assets/img/astro/constellation/lion.svg')
    @@include('../assets/img/astro/constellation/poisson.svg')
    @@include('../assets/img/astro/constellation/sagittaire.svg')
    @@include('../assets/img/astro/constellation/scorpion.svg')
    @@include('../assets/img/astro/constellation/taureau.svg')
    @@include('../assets/img/astro/constellation/verseau.svg')
    @@include('../assets/img/astro/constellation/vierge.svg')
</div>