@import "base/variables";

.byo-loader {
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    svg {
        width: 66px;
        height: 75px;
        opacity: 0;
        margin-left: 17px;
    }
    img {
        width: 100px;
    }
    &-isFinalePosition {
        z-index: 1;
        -webkit-transform: translate(-50%, 50%) scale(.6) !important;
        -ms-transform: translate(-50%, 50%) scale(.6) !important;
        transform: translate(-50%, 50%) scale(.6) !important;
    }
}