@import "base/variables";
@import "story/_step_1";
@import "story/_step_2";
@import "story/_step_3";
@import "story/_step_4";
@import "story/_step_5";
@import "story/_step_6";
@import "story/_step_7";
@import "story/_step_8";
@import "story/_step_9";
@import "story/_step_10";
@import "story/_step_11";
@import "story/_step_12";
@import "story/_step_13";
@import "story/_step_14";
@import "story/_step_15";

.byo-story {
    &-desc {
        color: $grey;
        font-family: $light;
        line-height: 1.4;
        margin-bottom: 30px;
        &-isColorWhite {
            color: #fff;
        }
    }
    &-action {
        font-size: 14px;
        color: #fff;
    }
    &-family, &-name, &-sign {
        &:first-letter {
            text-transform: uppercase;
        }
    }
}