.byo-story-thirteen {
    position: absolute;
    bottom: 16%;
    right: calc(50% - 500px);
    width: 380px;
    &-family {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        svg {
            width: 60px;
        }
    }
    .byo-story-family {
        font-size: 14px;
        color: #f7eee3;
        margin-top: 15px;
        text-transform: uppercase;
    }
}