.byo-story-fifteen {
    position: absolute;
    bottom: 16%;
    right: calc(50% - 500px);
    width: 380px;
    &-family {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        &-icon {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
        }
        svg {
            width: 60px;
        }
        &-name {
            font-size: 14px;
            color: #f7eee3;
            margin-top: 15px;
            text-transform: uppercase;
            opacity: 0;
            -webkit-transform: translateY(20px);
            -ms-transform: translateY(20px);
            transform: translateY(20px);
        }
    }
    .byo-story-start {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}