.byo-story-four {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 850px;
    max-width: 100%;
    &-block {
        &-isLeft {
            width: 480px;
            float: left;
        }
        &-isRight {
            width: 290px;
            float: right;
        }
    }
    &-asteroide {
        position: fixed;
        opacity: 0;
        top: 35%;
        left: 50%;
        background: url(../img/asteroides.png) no-repeat center;
        -webkit-background-size: 100%;
        background-size: 100%;
        width: 603px;
        height: 272px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}