.byo-story-eleven {
    position: absolute;
    top: 23%;
    left: 25%;
    width: 880px;
    max-width: 100%;
    &-block{
        &-isLeft {
            float: left;
            width: 370px;
        }
        &-isRight {

            &::-webkit-scrollbar {
                width: 3px;
                height: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background: #7d8f99;
                transition: background 150ms ease-out;
            }

            &::-webkit-scrollbar-track {
                background: #092a3b;
            }

            height: 54vh;
            overflow: auto;

            float: right;
            width: 500px;
        }
    }
    &-number {
        position: absolute;
        top: -70px;
        left: 0;
        font-size: 200px;
        color: $grey;
        opacity: .1;
        font-family: $thin;
    }
    &-title {
        font-size: 16px;
        color: #7d8f99;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-family: $light;
    }
    &-name {
        font-family: $book;
        font-size: 40px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 300px;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    &-list {
        &-item {
            margin-bottom: 30px;
            &-isLeft {
                float: left;
                color: #f7eee3;
                font-size: 22px;
                font-family: $book;
            }
            &-isRight {
                float: right;
                width: calc(100% - 30px);
            }
            &-label {
                text-transform: uppercase;
                font-family: $light;
                font-size: 16px;
                color: $grey;
                margin-bottom: 12px;
                padding-top: 3px;
                span {
                    font-family: $book;
                }
            }
            &-definition {
                font-family: $light;
                font-size: 14px;
                color: $grey;
                line-height: 1.6;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-percentage {
                &-isFirst {
                    float: left;
                    margin-right: 50px;
                }
                &-isRight {
                    float: left;
                }
                &-number {
                    font-family: $book;
                    font-size: 40px;
                    color: $blue-light;
                    margin-bottom: 18px;
                }
                &-name {
                    font-family: $book;
                    font-size: 14px;
                    color: #f7eee3;
                    margin-bottom: 12px;
                }
                &-mind {
                    font-family: $light;
                    font-size: 14px;
                    color: $grey;
                }
            }
        }
    }
}