.byo-story-eight {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 600px;
    max-width: 100%;
    &-interaction {
        &-chrono, &-heart, &-arrow, &-space {
            display: inline-block;
            margin-right: 28px;
            vertical-align: middle;
        }
        &-chrono {
            position: relative;
            background: url(../img/heartbeat/chrono.png) no-repeat center;
            width: 43px;
            height: 50px;
            margin-top: -10px;
            span {
                position: absolute;
                top: 44%;
                left: 50%;
                color: $blue-light;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }
        &-heart {
            display: inline-block;
            &-icon {
                float: left;
                background: url(../img/heartbeat/heart.png) no-repeat center;
                width: 34px;
                height: 30px;
            }
            &-anim {
                float: left;
                width: 35px;
                height: 30px;
            }
        }
        &-arrow {
            display: inline-block;
            background: url(../img/heartbeat/arrow.png) no-repeat center;
            width: 35px;
            height: 5px;
        }
        &-space {
            display: inline-block;
            background: url(../img/heartbeat/space.gif) no-repeat center;
            width: 153px;
            height: 38px;
            -webkit-background-size: 100%;
            background-size: 100%;
        }
    }
}