.byo-story-three {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 480px;
    max-width: 100%;
    &-title {
        position: fixed;
        font-size: 12px;
        color: #f7eee3;
        font-family: $light;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        &-isOne {
            bottom: 18%;
            left: 25%;
            -webkit-transform: translate(-50%,-50%) rotate(-68deg);
            -ms-transform: translate(-50%,-50%) rotate(-68deg);
            transform: translate(-50%,-50%) rotate(-68deg);
        }
        &-isTwo {
            bottom: 40%;
            left: 52%;
            -webkit-transform: translate(-50%,-50%) rotate(90deg);
            -ms-transform: translate(-50%,-50%) rotate(90deg);
            transform: translate(-50%,-50%) rotate(90deg);
        }
        &-isThree {
            bottom: 18%;
            left: 75%;
            -webkit-transform: translate(-50%,-50%) rotate(68deg);
            -ms-transform: translate(-50%,-50%) rotate(68deg);
            transform: translate(-50%,-50%) rotate(68deg);
        }
    }
}