.byo-story-fourteen {
    &-family {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        path {
            fill: none;
            opacity: 0;
        }
        rect {
            fill: rgba(0, 0, 0, 0);
        }
        .g-style {
            -webkit-transform: translate(-30px, -40px);
            -ms-transform: translate(-30px, -40px);
            transform: translate(-30px, -40px);
            opacity: 0;
            cursor: pointer;
            transition: .2s opacity ease-in-out;
            position: relative;
            z-index: 10;
            &:hover {
                opacity: 1 !important;
            }
        }
        .text {
            text-anchor: middle;
            font-size: 12px;
            stroke: none !important;
            fill: #f7eee3 !important;
            margin-top: 15px;
            text-transform: uppercase;
            font-family: $light;
        }
    }
    .byo-story-desc {
        position: absolute;
        bottom: 10%;
        left: 44%;
        width: 550px;
    }
}
