.byo-story-one {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 250px;
    max-width: 100%;
    &-gif {
        &-img {
            background: url(../img/press_p.gif) no-repeat center;
            -webkit-background-size: 100%;
            background-size: 100%;
            width: 38px;
            height: 38px;
            float: left;
        }
        &-text {
            float: right;
            margin-bottom: 50px;
            color: #fff;
            line-height: 1.2;
            width: calc(100% - 48px);
            padding-top: 5px;
        }
    }
}
