<!--Birthdate-->
<div class="byo-birthdate byo-step" data-step="1">
    <div class="byo-birthdate-desc">
        Bienvenue dans la galaxie d’Orion, centre de l’univers étendu.
        Vous avez été choisi pour participer à son expansion.
    </div>

    <div class="byo-birthdate-question">
        Quel jour terrestre a vu votre arrivée en ce monde ?
    </div>

    <div class="byo-birthdate-clock byo-birthdate-clock-isDay">
        <div class="byo-birthdate-clock-tick byo-birthdate-clock-tick-isDay">
            <div class="byo-birthdate-clock-tick-round"></div>
        </div>
        <div class="byo-birthdate-clock-text byo-birthdate-clock-text-isDay byo-birthdate-clock-text-isPrev">15</div>
        <div class="byo-birthdate-clock-text byo-birthdate-clock-text-isDay byo-birthdate-clock-text-isCurrent">16</div>
        <div class="byo-birthdate-clock-text byo-birthdate-clock-text-isDay byo-birthdate-clock-text-isNext">17</div>
    </div>
    <div class="byo-birthdate-clock byo-birthdate-clock-isMonth">
        <div class="byo-birthdate-clock-tick byo-birthdate-clock-tick-isMonth">
            <div class="byo-birthdate-clock-tick-round"></div>
        </div>
        <div class="byo-birthdate-clock-text byo-birthdate-clock-text-isMonth byo-birthdate-clock-text-isPrev" data-month="4">Mai</div>
        <div class="byo-birthdate-clock-text byo-birthdate-clock-text-isMonth byo-birthdate-clock-text-isCurrent" data-month="5">Juin</div>
        <div class="byo-birthdate-clock-text byo-birthdate-clock-text-isMonth byo-birthdate-clock-text-isNext" data-month="6">Juillet</div>
    </div>
    <div class="byo-birthdate-clock byo-birthdate-clock-isYear">
        <div class="byo-birthdate-clock-tick byo-birthdate-clock-tick-isYear">
            <div class="byo-birthdate-clock-tick-round"></div>
        </div>
        <div class="byo-birthdate-clock-text byo-birthdate-clock-text-isYear byo-birthdate-clock-text-isPrev">1974</div>
        <div class="byo-birthdate-clock-text byo-birthdate-clock-text-isYear byo-birthdate-clock-text-isCurrent">1975</div>
        <div class="byo-birthdate-clock-text byo-birthdate-clock-text-isYear byo-birthdate-clock-text-isNext">1976</div>
        <div class="byo-birthdate-start byo-button">OK</div>
    </div>
</div>