<div class="byo-family byo-step" data-step="2">

    <div class="byo-family-sign">
    </div>

    <div class="byo-family-desc">
        Vous régnez sous le signe <span class="byo-family-desc-sign">Test</span>
        dans la constellation <span class="byo-family-desc-symbol">Test</span>.
    </div>

    <div class="byo-family-element">
    </div>

    <div class="byo-family-start byo-button" data-target="3">OK</div>

</div>