<div class="byo-name byo-step" data-step="3">

    <div class="byo-name-content">
        <div class="byo-name-desc"></div>

        <div class="byo-name-question">
            Quel nom dois-je indiquer dans les registres de votre nouvelle famille ?
        </div>

        <form action="" class="byo-form byo-name-form">
            <input type="text" placeholder="Entrez votre nom ici" class=" byo-form-input byo-name-form-input">
            <button type="submit" class="byo-form-submit byo-name-form-submit">OK</button>
        </form>
    </div>

    <div class="byo-name-families">
        <div class="byo-name-families-prev"></div>
        <div class="byo-name-families-link"></div>
        <div class="byo-name-families-current"></div>
    </div>

</div>