<div class="byo-story-thirteen byo-step" data-step="16">
    <div class="byo-story-thirteen-family">
        <div class="byo-story-thirteen-family-icon"></div>
        <div class="byo-story-family"></div>
    </div>
    <div class="byo-story-desc">
        En souvenir de votre rôle dans cette expansion, voici votre transcription de la galaxie d’Orion. Celle-ci est valide sur <span class="byo-story-name byo-story-desc-isColorWhite">l’ensemble de l’univers</span>.
    </div>
    <div class="byo-story-start byo-button" data-target="17">Voir la galaxie</div>
</div>