<div class="byo-story-ten byo-step" data-step="13">
    <div class="byo-story-desc">
        Vous pouvez être fier, votre planète a enfin atteint sa forme la plus aboutie. Ce fût un honneur de partager avec vous ces rebondissements <span class="byo-story-name byo-story-desc-isColorWhite">visiteur</span>.<br>
        La haute autorité d’Orion vous remercie pour avoir participé à son expansion.
    </div>
    <div class="byo-story-start byo-button" data-target="14">Voir la fiche planète</div>
</div>