<div class="byo-story-eight byo-step" data-step="11">
    <div class="byo-story-desc">
        Vous décidez de mettre votre coeur en symbiose avec le sien pour lui donner vie. <span class="byo-story-desc-isColorWhite">Appuyez sur la barre d’espace à chaque battement</span>.
    </div>
    <div class="byo-story-eight-interaction">
        <div class="byo-story-eight-interaction-chrono">
            <span>10</span>
        </div>
        <div class="byo-story-eight-interaction-heart">
            <div class="byo-story-eight-interaction-heart-icon"></div>
            <div class="byo-story-eight-interaction-heart-anim">
                @@include('../../assets/img/heartbeat/heart.svg')
            </div>
        </div>
        <div class="byo-story-eight-interaction-arrow"></div>
        <div class="byo-story-eight-interaction-space"></div>
    </div>
</div>