<div class="byo-story-one byo-step" data-step="4">
    <div class="byo-story-desc">
        Enchanté <span class="byo-story-name byo-story-desc-isColorWhite">visiteur</span>, je confirme donc votre appartenance aux Créateurs.
    </div>
    <div class="byo-story-desc">
        Voici la matérialisation de votre présence : <span class="byo-story-desc-isColorWhite">votre planète</span>.
    </div>
    <div class="byo-story-one-gif">
        <div class="byo-story-one-gif-img"></div>
        <div class="byo-story-one-gif-text">
            Désormais, la touche P vous permet d'explorer la planète.
        </div>
    </div>
    <div class="byo-story-start byo-button" data-target="5">Continuer l'expérience</div>
</div>