<div class="byo-story-seven byo-step" data-step="10">
    <div class="byo-story-desc">
        Il semblerait que… Oui… Il s’agit de l’appel de l'<span class="byo-story-desc-isColorWhite">âme</span>, la dernière phase de croissance d’une nouvelle planète ! Elle nous communique son <span class="byo-story-desc-isColorWhite">désir de prendre vie</span>. Il ne lui manque plus que l’<span class="byo-story-desc-isColorWhite">Étincelle créatrice</span>, pour pouvoir exister et cohabiter avec la galaxie. Accomplissez votre dernière mission, entrez en symbiose avec elle et donnez lui vie !
    </div>
    <div class="byo-story-start byo-button" data-target="11">C'est parti !</div>
</div>