<div class="byo-story-five byo-step" data-step="8">
    <div class="byo-story-desc">
        Je vous cerne un peu mieux à présent... Regardez au loin <span class="byo-story-name">visiteur</span>, il semblerait que la collision avec l’<span class="byo-story-desc-isColorWhite">astéroïde</span> ait modifié sa trajectoire.<br/>
        Elle vient de terminer sa route sur votre planète ! On dirait que ce choc a provoqué de <span class="byo-story-desc-isColorWhite">nombreuses distorsions</span> visible de part et d’autres à la surface de votre planète.
    </div>
    <div class="byo-story-desc">
        Votre volonté a permis à votre planète d’affirmer encore plus sa singularité au sein de la constellation du <span class="byo-story-sign byo-story-desc-isColorWhite">Taureau</span>.
    </div>
    <div class="byo-story-start byo-button" data-target="9">Continuer l'expérience</div>
</div>