<div class="byo-story-nine byo-step" data-step="12">
    <div class="byo-story-desc">
        Votre rôle touche à sa fin, regardez, des habitants commencent à émerger du coeur de votre planète. Ils sont la conséquence des premiers atomes qui s’entrechoquent lors d’une symbiose entre un créateur et sa planète. Ce sont ceux qui, au fil du temps, <span class="byo-story-desc-isColorWhite">vont se transformer en créatures</span> et qui vont <span class="byo-story-desc-isColorWhite">contribuer à la création d’un écosystème viable</span>.
    </div>
    <div class="byo-story-start byo-button" data-target="13">Continuer l'expérience</div>
</div>