<div class="byo-story-four byo-step" data-step="7">
    <div class="byo-story-four-block-isLeft">
        <div class="byo-story-desc">
            Attendez ! Notre champ de vision se trouble. Il semblerait que notre chemin traverse la trajectoire d’un <span class="byo-story-desc-isColorWhite">champ d’astéroïde</span>.
            Soyez prudent lorsque que vous prenez des décisions, elles risquent d’avoir une conséquence sur l’avenir de votre monde.
        </div>
    </div>
    <div class="byo-story-four-block-isRight">
        <div class="byo-story-desc">
            Néanmoins c’est intéressant, <span class="byo-story-desc-isColorWhite">pourquoi ne pas l’avoir esquivé ?</span> Je suis curieux de connaître votre pensée.
        </div>
        <form action="" class="byo-form byo-story-four-form">
            <input type="text" placeholder="Écris ta réponse ici" class=" byo-form-input byo-story-four-form-input">
            <button type="submit" class="byo-form-submit byo-story-four-form-submit">OK</button>
        </form>
    </div>
    <div class="byo-story-four-asteroide"></div>
</div>