<div class="byo-story-eleven byo-step" data-step="14">
    <div class="byo-story-eleven-number byo-story-number">1437</div>
    <div class="byo-story-eleven-block-isLeft">
        <div class="byo-story-eleven-title">Fiche planète</div>
        <div class="byo-story-eleven-name byo-story-name">Visiteur</div>
        <div class="byo-story-start byo-button" data-target="15">Parcourir la planète</div>
    </div>
    <div class="byo-story-eleven-block-isRight">
        <div class="byo-story-eleven-list">
            <div class="byo-story-eleven-list-item byo-clearfix">
                <div class="byo-story-eleven-list-item-isLeft">1</div>
                <div class="byo-story-eleven-list-item-isRight">
                    <div class="byo-story-eleven-list-item-label">Date de naissance : <span class="byo-story-birthdate byo-story-desc-isColorWhite"></span></div>
                    <div class="byo-story-eleven-list-item-definition">
                        Cette date défini le signe et la famille à laquelle votre planète appartient.
                    </div>
                </div>
            </div>
            <div class="byo-story-eleven-list-item byo-clearfix">
                <div class="byo-story-eleven-list-item-isLeft">2</div>
                <div class="byo-story-eleven-list-item-isRight">
                    <div class="byo-story-eleven-list-item-label">Chemin choisi : <span class="byo-story-light byo-story-desc-isColorWhite"></span></div>
                    <div class="byo-story-eleven-list-item-definition">
                        Ce chemin défini le type de relief, la teinte et la luminosité qui se dégage de la surface de votre planète.
                    </div>
                </div>
            </div>
            <div class="byo-story-eleven-list-item byo-clearfix">
                <div class="byo-story-eleven-list-item-isLeft">3</div>
                <div class="byo-story-eleven-list-item-isRight">
                    <div class="byo-story-eleven-list-item-label">Les éléments : <span class="byo-story-elements byo-story-desc-isColorWhite"></span></div>
                    <div class="byo-story-eleven-list-item-definition">
                        Les mots que vous avez utilisé pour expliquer le phénomène de croisement avec le champ d’astéroïde génèrent un ou plusieurs éléments qui correspondent à votre personnalité.
                    </div>
                    <!--<div class="byo-story-eleven-list-item-definition">-->
                        <!--Vous avez répondu : <span class="byo-story-desc-isColorWhite">« Il est normal d’avoir des imprévus, c’est le principe d’une expérience »</span>. Ce qui fait de votre planète les traits de caractère suivants :-->
                    <!--</div>-->
                    <div class="byo-story-eleven-list-item-percentage-isFirst">
                        <div class="byo-story-eleven-list-item-percentage-number">0 %</div>
                        <div class="byo-story-eleven-list-item-percentage-name">TODO</div>
                        <div class="byo-story-eleven-list-item-percentage-mind">TODO</div>
                    </div>
                    <div class="byo-story-eleven-list-item-percentage-isSecond">
                        <div class="byo-story-eleven-list-item-percentage-number">0 %</div>
                        <div class="byo-story-eleven-list-item-percentage-name">TODO</div>
                        <div class="byo-story-eleven-list-item-percentage-mind">TODO</div>
                    </div>
                </div>
            </div>
            <div class="byo-story-eleven-list-item byo-clearfix">
                <div class="byo-story-eleven-list-item-isLeft">4</div>
                <div class="byo-story-eleven-list-item-isRight">
                    <div class="byo-story-eleven-list-item-label">La fréquence cardiaque : <span class="byo-story-heart byo-story-desc-isColorWhite">La vie</span></div>
                    <div class="byo-story-eleven-list-item-definition">
                        Selon l’énergie que dégage votre coeur, la planète est chargée différemment en courant, ce qui génère le nombre de particules vivantes.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>