<div class="byo-story-fifteen byo-step" data-step="18">
    <div class="byo-story-fifteen-family">
        <div class="byo-story-fifteen-family-icon"></div>
        <div class="byo-story-fifteen-family-name"></div>
    </div>
    <div class="byo-story-start byo-button" data-target="19">Retour à la galaxie</div>
</div>