<div class="byo-story-fourteen byo-step" data-step="17">
    <div class="byo-story-fourteen-family">
        @@include('../../assets/img/galaxy/spline.svg')
    </div>
    <div class="byo-story-desc">
        Vous êtes désormais libre de découvrir les immenses diversités de <span class="byo-story-desc-isColorWhite">l’univers</span>. En voyageant de planètes en planètes, vous pourrez <span class="byo-story-desc-isColorWhite">confronter votre vision</span> et découvrir les identités des autres créateurs ainsi que leurs aspirations.
    </div>
</div>