<div class="byo-story-six byo-step" data-step="9">
    <div class="byo-story-desc">
        A présent approchons-nous un peu plus près. Vous avez remarqué ? Les <span class="byo-story-desc-isColorWhite">nouveaux éléments</span> de votre planète essaient de <span class="byo-story-desc-isColorWhite">s’exprimer</span>.
        On dirait qu’ils proviennent du <span class="byo-story-desc-isColorWhite">coeur</span> de votre planète.
    </div>
    <div class="byo-story-start byo-button" data-target="10">Continuer l'expérience</div>
</div>