<div class="byo-story-three byo-step" data-step="6">
    <div class="byo-story-desc">
        Il est temps de l’observer de plus près. Admirez, trois chemins se présentent face à vous ! Quel côté vous inspire le plus ? Il semble que ces trois chemins ne mènent pas au même endroit.
    </div>
    <div class="byo-story-action">Laissez vous porter par votre instinct et indiquez une voie !</div>

    <div class="byo-story-three-title byo-story-three-title-isOne">L'éclat lumineux</div>
    <div class="byo-story-three-title byo-story-three-title-isTwo">La vallée crépusculaire</div>
    <div class="byo-story-three-title byo-story-three-title-isThree">La brume obscure</div>
</div>