<div class="byo-story-two byo-step" data-step="5">
    <div class="byo-story-desc">
        Cet ensemble de matière n’est pour l’instant qu’à sa forme <span class="byo-story-desc-isColorWhite">primaire</span>.
        Il est de votre devoir de lui faire atteindre sa <span class="byo-story-desc-isColorWhite">forme aboutie</span>.
    </div>
    <div class="byo-story-desc">
        Observez avec attention, elle <span class="byo-story-desc-isColorWhite">réagit</span> aux rayons de lumière.
        Sa composition se base sur des cristaux, représentatifs de votre famille, la famille <span class="byo-story-family byo-story-desc-isColorWhite">Terre</span>.
    </div>
    <div class="byo-story-start byo-button" data-target="6">Continuer l'expérience</div>
</div>