@import "../base/variables";

.byo-birthdate {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 460px;
    max-width: 100%;
    &-desc {
        color: $grey;
        font-family: $light;
        line-height: 1.4;
        margin-bottom: 36px;
    }
    &-question {
        font-size: 16px;
        color: $white-light;
        line-height: 1.4;
    }
    &-clock {
        position: fixed;
        top: -10vh;
        width: 120vh;
        height: 120vh;
        &-isDay {
            right: -50vh;
        }
        &-isMonth {
            right: -70vh;
        }
        &-isYear {
            right: -90vh;
        }
        &-tick {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid #445d6a;
            &-round {
                position: absolute;
                top: 50%;
                left: -5px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $grey;
                transition: .2s transform ease-in-out;
                &:hover, &-isHover {
                    -webkit-transform: scale(1.6);
                    -ms-transform: scale(1.6);
                    transform: scale(1.6);
                    color: $grey;
                    cursor: pointer;
                }
            }
        }
        &-text {
            position: absolute;
            top: calc(50% - 4px);
            left: 36px;
            font-size: 16px;
            color: $blue-light;
            transition: .2s opacity ease-in-out, .2s transform ease-in-out;
            transform-origin: 60vh center;
            &-isPrev, &-isNext {
                opacity: 0;
            }
            &-isPrev {
                -webkit-transform: rotateZ(5deg);
                -ms-transform: rotateZ(5deg);
                transform: rotateZ(5deg);
            }
            &-isNext {
                -webkit-transform: rotateZ(-5deg);
                -ms-transform: rotateZ(-5deg);
                transform: rotateZ(-5deg);
            }
            &-isCurrent {
                opacity: 1;
                -webkit-transform: rotateZ(0);
                -ms-transform: rotateZ(0);
                transform: rotateZ(0);
            }
        }
    }
    &-start {
        position: absolute;
        top: calc(50% - 4px);
        left: 136px;
        font-size: 16px;
        color: $blue-light;
        &:after {
            width: 75px;
        }
    }
}