@import "../base/variables";

.byo-family {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 340px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &-desc {
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 1.8;
        font-family: $book;
        span {
            display: inline-block;
            &:first-letter {
                text-transform: uppercase;
            }
        }
    }
    &-start {
        margin-top: 90px;
    }
    &-sign {
        svg {
            display: block;
            margin: 0 auto 36px;
            width: 80px;
        }
    }
    &-element {
        svg {
            display: block;
            margin: 0 auto 36px;
            width: 56px;
        }
    }
}