@import "../base/variables";

.byo-intro {
    width: 460px;
    max-width: 100%;
    position: absolute;
    top: 30%;
    left: 45%;
    &-slogan {
        font-size: 16px;
        color: $white-light;
        line-height: 1.4;
        margin-bottom: 36px;
    }
    &-desc {
        color: $grey;
        font-family: $light;
        line-height: 1.4;
        margin-bottom: 100px;
    }
    &-constellation {
        position: relative;
        svg {
            z-index: 0;
            position: absolute;
            width: auto;
            height: auto;
            top: -50vh;
            opacity: 0;
            transition: .5s opacity ease-in-out;
            &.byo-intro-constellation-isActive {
                left: 50% !important;
                top: 30vh !important;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                height: 40vh !important;
            }
            &#byo_intro_constellation_0 {
                top: 50vh;
                left: 10%;
                height: 90px;
            }
            &#byo_intro_constellation_1 {
                top: 14vh;
                left: -35%;
                height: 250px;
            }
            &#byo_intro_constellation_2 {
                top: 60vh;
                right: -50%;
                height: 150px;
            }
            &#byo_intro_constellation_3 {
                top: 55vh;
                left: -5%;
                height: 180px;
            }
            &#byo_intro_constellation_4 {
                top: 10vh;
                left: -10%;
                height: 220px;
            }
            &#byo_intro_constellation_5 {
                top: 50vh;
                right: 10%;
                height: 250px;
            }
            &#byo_intro_constellation_6 {
                top: 40vh;
                left: -33%;
                height: 230px;
            }
            &#byo_intro_constellation_7 {
                top: 16vh;
                right: -8%;
                height: 200px;
            }
            &#byo_intro_constellation_8 {
                top: 70vh;
                left: -55%;
                height: 220px;
            }
            &#byo_intro_constellation_9 {
                top: 12vh;
                left: 20%;
                height: 190px;
            }
            &#byo_intro_constellation_10 {
                top: 22vh;
                right: -34%;
                height: 220px;
            }
            &#byo_intro_constellation_11 {
                top: 42vh;
                right: -21%;
                height: 180px;
            }
        }
    }
}