@import "../base/variables";

.byo-name {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 660px;
    max-width: 100%;
    &-content {
        float: left;
        width: 440px;
    }
    &-desc {
        color: #7d8f99;
        font-family: "gotham-light", sans-serif;
        line-height: 1.4;
        margin-bottom: 50px;
    }
    &-question {
        font-size: 16px;
        color: #f7eee3;
        line-height: 1.4;
        margin-bottom: 72px;
    }
    &-form {
        width: 250px;
    }
    &-families {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        &-link {
            display: block;
            margin: 20px auto;
            width: 1px;
            height: 80px;
            background-color: $grey;
        }
        svg {
            width: 56px;
            fill: $grey;
            path, line, g, polyline, circle, rect, polygon {
                stroke: $grey !important;
            }
        }
    }
}